@use "styles/variables" as v;
@use "styles/mixins" as m;

/* =========================
   Board
   ========================= */

.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: v.$bg-board;
  font-family: v.$font-main;
}

.board-header {
  padding: v.$gap-md v.$gap-xl;
  color: v.$text-light;
  background: rgba(0, 0, 0, 0.15);
}

/* =========================
   Board wrapper
   ========================= */

.board-wrapper {
  display: flex;
  height: 100%;
  padding: v.$gap-xl;
  gap: v.$gap-xl;
  overflow-x: auto;
  align-items: flex-start;

  @include m.custom-scrollbar;

  @include m.mobile {
    padding: v.$gap-md;
    gap: v.$gap-md;
  }
}

/* =========================
   Column
   ========================= */

.column-container {
  width: 300px;
  min-width: 300px;
  background: v.$bg-column;
  border-radius: v.$radius-md;
  padding: v.$gap-md;
  display: flex;
  flex-direction: column;

  @include m.mobile {
    width: 260px;
    min-width: 260px;
  }
}

.column-container h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: v.$gap-md 0;
  padding-left: v.$gap-sm;
  color: v.$text-dark;
}

/* =========================
   Tasks
   ========================= */

.task-list {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: v.$gap-md;
}

.task-box {
  padding: v.$gap-lg v.$gap-md;
  background: v.$bg-card;
  border-radius: v.$radius-sm;
  box-shadow: v.$shadow-card;
  color: v.$text-dark;
  font-size: 14px;
  cursor: move;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    box-shadow: v.$shadow-hover;
  }
}

/* =========================
   CDK Drag & Drop
   ========================= */

/* Ghost (what we are dragging) */
.cdk-drag-preview {
  border-radius: v.$radius-sm;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* "Hole" where the element will fall */
.cdk-drag-placeholder {
  opacity: 0;
}

/* Animation of moving other elements */
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate the list when we release an item */
.task-list.cdk-drop-list-dragging .task-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
